// Colors
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$bg-container: hsl(213, 19%, 16%);
$bg-rounded: hsl(213, 19%, 20%);
$verydark-blue: hsl(216, 12%, 8%);
$orange-hover: hsl(25, 97%, 60%);
$orange: hsl(25, 97%, 53%);

// Font
$font: 'Overpass', sans-serif;